<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="coordinated time service for moment.js">
    <meta name="author" content="David Zurborg">
    <link rel="icon" href="/favicon.ico">
    <title>coordinated.js</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">coordinated.js</h1>
            <p class="lead">coordinated.js is a coordinated time service based on moment.js - to get server-time on client-side</p>
          </div>
          <div class="inner">
            <p>
              Time in your browser is now:<br /><strong class="client-time bold">...</strong>
            </p>
            <p>
              Time on server is now:<br /><strong class="server-time bold">...</strong>
            </p>
            <p>
              Coordinated world time (UTC) is now:<br /><strong class="utc-time bold">...</strong>
            </p>
            <p>
              Your offset in milli-seconds: <span class="offset-time">...</span>
            </p>
          </div>
          <div class="inner">
            <h1>How does it work?</h1>
            <p>
              When you are familiar with <a href="//momentjs.com/" target="_blank">moment.js</a>, its very easy!
            </p>
            <pre style="text-align: left;">&lt;script src="//coordinatedjs.com/now.js"&gt;&lt;/script&gt;
&lt;script&gt;
  $moment().format();
&lt;/script&gt;</pre>
            <p>
              coordinated.js introduces a new global variable, <code>$moment</code>, which behaves similiar to <code>moment</code>, but with a fixed offset calculated when your document is loaded. Only time-parsing is not supported by <code>$moment(...)</code> - use <code>moment(...)</code> instead. Bonus: <code>$moment.utc()</code> works as expected.
            </p>
            <p>
              In modern browsers, <code>window.performance</code> can be used to obtain the load delay and coordinated.js adds it to the offset. This allowes to get a real accurate server-time synchronized in the browser.
            </p>
          </div>
          <div class="inner">
            <h1>Available services</h1>
            <p>
              coordinatedjs.com provides three services free for you:
            </p>
            <ul style="text-align: left">
              <li><code>//coordinatedjs.com/now.js</code> Requires moment.js.</li>
              <li><code>//coordinatedjs.com/full.js</code> Provides moment.min.js (latest version) and coordinated.js</li>
              <li><code>//coordinatedjs.com/full-with-locales.js</code> Provides moment-with-locales.min.js (latest version) and coordinated.js</li>
            </ul>
            <p>
              If you are using PHP, I have <a href="//coordinatedjs.com/now.php" target="_blank">a very small script for you.</a>. Its recommended for self-hosting purpose and does not need any additional libraries. It should work out of the box.
            </p>
          </div>
          <div class="inner">
            <h1>Reliability and limitations</h1>
            <p>
              In cases where you wont rely on the time settings in the client' browser, you are able to rely on coordinated.js. With <code>window.performance</code> the accuracy is about one quarter of a second. In other cases it depends on the lag caused by slow and/or instable internet connections which cannot be determined. Maybe a SNTP implementing javascript class could calculate the offset in such cases, but I want to keep the service simple and easy to use.
            </p>
            <p>
              The SSL certificate is shipped by <a href="//cacert.org/" target="_blank">CAcert</a>.
            </p>
          </div>
          <div>
            <h1>Availability and terms of use</h1>
            <p>
              For now, this service is is hosted on a virtual machine. I hope the machine will never die.
            </p>
            <p>
              Feel free to use coordinated.js in any of your projects without any fee. You don't need to - but I recommend to - provide a notice that you use the services of coordinated.js.
            </p>
            <h3>Disclaimer</h3>
            <p>
<strong>The service is provided "as is" and the author disclaims all warranties with regard to this service including all implied warranties of merchantability and fitness. In no event shall the author be liable for any special, direct, indirect, or consequential damages or any damages whatsoever resulting from loss of use, data or profits, whether in an action of contract, negligence or other tortious action, arising out of or in connection with the use or performance of this service.</strong></p>
          </div>
          <div class="inner">
            <h1>Contribute</h1>
            <p>
              <a href="//github.com/zurborg/coordinatedjs" target="_blank">Fork me on github</a>.
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>&copy 2014 David Zurborg. <a href="/impress.txt">Impress</a>. Template by <a href="//twitter.com/mdo" target="_blank">@mdo</a>. Proudly made with <a href="//perldancer.org/" target="_blank">Dancer</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/full.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
